html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-overflow-style: none;
}

h1, h2 {
    font-family: sans-serif;
    font-size: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    width: 100%;
    background-color: firebrick;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 5px solid #000;
    z-index: 5;
}

.nav-content ul {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-content ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-content ul li a {
    text-decoration: none;
    color: blanchedalmond;
    transition: all .5s ease-in-out;
}

.nav-content ul li a:hover {
    color: burlywood;
}

.welcome-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    transition: all .5 ease-in-out;
}

.projects {
    background-color:honeydew;
    padding: 20px 0;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

.projects .project-tile {
    padding-bottom: 30px;
    padding-top: 70px;
}

.projects .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
} 

.projects .cards .card {
    display: block;
    padding-bottom: 50px;
    width: 100%;
    position: relative;
    transition: all 1s ease-in-out;
}

.projects .cards .card figcaption {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 20px;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(0,0,0,.8);
}

.project-image {
    width: 800px;
    height: 500px;
}

.contact {
    color: aliceblue;
    display: flex;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    transition: .5;
    transition-duration: .5s;
}

.contact:hover {
    transform:scale(1.1);
}

.contact h2 {
    margin-bottom: 0;
}

.contact ul {
    padding: 0;
    font-size: 30px;
    list-style: none;
    width: 100%;
}

.contact ul li{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 15px;
    transition: .5s;
    transition-duration: .3s;
}

.contact ul li:hover{
    transform: scale(1.2);
}

.contact ul li a {
    text-decoration: none;
    color: aliceblue;
}

@media (min-width: 600px){
    .nav-content ul {
        font-size: 26px;
    }
    .nav-content ul li a{
        padding: 38px;
    }
    .nav-content ul li a:hover {
        background-color: coral;
        color: firebrick;
    }
    .projects .cards .card{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 900px) {
    .projects .cards .card{
    grid-template-columns: 1fr 1fr 1fr;
    }
}